@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: black;
}

h1 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 12px;
}

img {
    max-width: 170px;
    margin-left: 12px;
}

img#ft1 {
    max-width: 170px;
    display: block;
    margin: auto;
}

p {
    color: white;
    margin: 12px;
    line-height: 22px;
}

footer {
    text-align: center;
    font-weight: bold;
}