*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#130019;
color:white;
font-family:Poppins,sans-serif;
overflow-x:hidden;
}

#content{
display:none;
}

section{
padding:80px 20px;
text-align:center;
}

h1,h2,h3{
font-family:'Playfair Display',serif;
}

button{
margin-top: 15px;
cursor:pointer;
border:none;
padding:15px 30px;
border-radius:30px;
background:#ff178b;
color:white;
font-size:16px;
transition:.3s;
}

button:hover{
transform:scale(1.05);
}

.since {
  margin-bottom: 20px;
}

.love-days {
  margin-top: 20px;
}

.box,
.music-card,
.love-letter,
.event{

background:rgba(255,255,255,.05);

backdrop-filter:blur(12px);

border:1px solid rgba(255,255,255,.1);

border-radius:20px;
}

.music-card {
  margin-bottom: 20px;
}

.counter{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.box{
padding:20px;
min-width:120px;
}

.slider img{
width:100%;
max-width:350px;
border-radius:20px;
}

.event{
padding:20px;
margin:30px auto;
max-width:600px;
}

.event img{
width:100%;
border-radius:15px;
margin-top:15px;
}

#surpriseText{
display:none;
margin-top:20px;
font-size:20px;
}

.heart{
font-size:80px;
animation:pulse 1.5s infinite;
}

@keyframes pulse{

0%,100%{
transform:scale(1);
}

50%{
transform:scale(1.2);
}

}